/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Mono:wght@300;400&display=swap');


body {
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

.first-part {
    margin-top: 36px;
    margin-bottom: 21px;
    margin-left: 285px;
    margin-right: 285px;
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
}

.last-part {
    margin-left: 285px;
    margin-right: 285px;
    margin-top: 21px;
    margin-bottom: 28px;
    background-color: #FFFFFF;
    width: 870px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 23px;
}

.section-title {
    color: #562EFF;
}

.player {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    align-items: center;
    margin-bottom: 30px;
}

.single-player img {
    width: 56px;
    height: 56px;

}

.img-margin {
    margin-right: 16px;
}

.single-player {
    display: flex;


}

.course {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
}

.course img {
    width: 177px;
    height: 177px;
}

.course-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-course img {
    width: 224px;
    height: 104px;

}

.course-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.a-deco {
    text-decoration: none;
}

.fa-star {
    width: 12px;
    height: 11px;

}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
}

.img-shadow-box {
    width: 253px;
    height: 270px;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
    margin-bottom: 28px;
}

@media only screen and (max-width:688px) {

    .first-part,
    .last-part {
        margin: 5px;
        width: 100%;
    }

    .section-title {
        padding-bottom: 10px;
    }

    .player,
    .course,
    .course-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .single-player,
    .responsive-course {
        flex-direction: column;
    }

    .responsive-course span {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .responsive-course .a-deco {
        padding-left: 5px;
    }

    .course-flex p {

        font-weight: bold;

    }
}

@media only screen and (min-width:688px) and (max-width:992px) {

    .first-part,
    .last-part {
        margin: 5px;
        width: 100%;

    }

    .section-title {
        padding-bottom: 10px;
    }

    .player,
    .course,
    .course-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .single-player,
    .responsive-course {
        flex-direction: column;
    }

    .responsive-course span {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .responsive-course .a-deco {
        padding-left: 5px;
    }

    .course-flex p {

        font-weight: bold;

    }
}